.memory-continer {
    width: 100%;
    background: #F1F4FE;
    padding-top: 30px;
}

.memory-continer>h1 {
    font-size: 36px;
    margin-top: 40px;
    outline: rgb(0, 12, 53) none 0px;
    box-sizing: border-box;
    font-weight: 550;
    color: rgb(0, 12, 53);
    line-height: 52.8px;
    text-align: center;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(241, 244, 254);
}

.memory-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
}

.memory-btns button {
    margin: 0px -1px;
    padding: 0px 25px;
    outline: rgb(255, 255, 255) none 0px;
    appearance: none;
    box-sizing: border-box;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: default;
    align-items: center;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(176, 176, 176);
    border-left-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: 500;
    height: 50px;
    justify-content: center;
    line-height: 19.8px;
    min-width: 100px;
    position: relative;
    text-decoration: none solid rgb(255, 255, 255);
    transition: background-color 0.3s, border-color 0.3s;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
    list-style: outside none none;
    text-align: center;
    border: none;
}

.memory-btns button:last-child {
    border-radius: 0 4px 4px 0;
}

.memory-btns button:first-child {
    border-radius: 4px 0 0 4px;
}

.memory-btns button.active {
    background-color: #0033cc;
    color: white;
    font-weight: bold;
}


.slider-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.blue-box {
    background-color: #0033cc;
    color: white;
    width: 21%;
    min-width: 180px;
    height: 376px;

}

.blue-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blue-box li {
    width: 100%;
    height: 54px;
    border-top: 1px solid #f1f4fe5d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    font-size: 18px;
    outline: rgb(255, 255, 255) none 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 21.6px;
    list-style: outside none none;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    /* background: none 0% 0% / auto repeat scroll padding-box border-box rgb(11, 48, 176); */
}

.blue-box li>svg {
    font-size: 22px;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    width: 74%;
    position: relative;
}

.cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.next-prive-box {
    position: absolute;
    top: 46%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.next-prive-box button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border: none;
    background: #0033cc;
    cursor: pointer;
}

.next-prive-box button.disabled {
    cursor: none;
    ;
    opacity: 0.5;
    pointer-events: none;
}

.card-inner {
    border-right: 1px solid #F1F4FE;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.card {
    min-width: 180px;
    width: 25%;
    height: 420px;
    text-align: center;
}

.card-inner p {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    border-top: 1px solid #F1F4FE;
}

.card>p {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}

.card .price {
    font-size: 20px;
    font-weight: bold;
    color: #0033cc;
}

.order-btn {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        flex: 1 0 46%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 0 100%;
    }
}



/* ------------------------- */
.advantages-container {
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.advantages-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.advantages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.advantages-card {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.advantages-card:hover {
    transform: scale(1.05);
}

.advantages-icon {
    font-size: 2.5rem;
    color: #0078D7;
    margin-bottom: 1rem;
}

.advantages-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #333;
}

.advantages-description {
    font-size: 17px;
    outline: rgb(75, 83, 108) none 0px;
    box-sizing: border-box;
    color: rgb(75, 83, 108);
    font-weight: 300;
    line-height: 25.2px;
    text-align: center;
    list-style: outside none none;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(241, 244, 254);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .advantages-grid {
        grid-template-columns: 1fr;
    }
}


.poplar_systems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.poplar_systems_box {
    height: 80px;
    width: 80px;
    border-right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.poplar_systems_box img {
    width: 100%;
    height: 100%;
}

.payment-methods {
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(3, 16, 59);
    gap: 10px;
    padding: 5px;
    margin: 15px auto;
    border-radius: 6px;

}

.payment-methods-grid {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 50%;
}

.payment-methods-grid img {
    width: 100%;
    height: 100%;
}


/* ====register======== */

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 20px;
    gap: 40px;
}


.hello-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.hello-text img {
    width: 100%;
    height: 100%;
}

.signup-form {
    flex: 1;
    max-width: 400px;
    background-color: #623cea;
    padding: 30px 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    text-align: center;
    margin: 5px 0;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fcdc00;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-form button:hover {
    background-color: #f4ca00;
}

.signup-container .message {
    text-align: center;
    margin: 10px 0;
    color: #ffdf00;
}

.signup-form p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.signup-form a {
    color: #ffdf00;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
    }

    .signup-image {
        margin-bottom: 20px;
    }

    .signup-form {
        width: 100%;
    }
}