body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}






.active-language-nan {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.active-language-nan:hover {
  color: #007bff;
}

.active-language {
  border: none;
  background: none;
  font-weight: bold;
  color: #007bff;
  text-decoration: underline;
}